<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

    * {
        font-family: Poppins, system-ui;
        padding: 0px;
        margin: 0px;
    }
</style>

<div class="container-content" style="display: flex;align-items: center;justify-content: center;">
    <div class="card"
        style="border-radius: 10px;background-color: white;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,16);">
        <div class="card-header">
            <h1><strong>Invitación PASANAKU</strong></h1>
        </div>
        <div class="card-body">
            <img
                src="https://drive.google.com/drive/folders/1B0gg719YmfHvxvy6GNQxnVVqi2W4Q9Vu?usp=drive_link"
                class="my-3"
                alt="Email image"
                style="margin-top: 30px;width: 150px;height: 150px;"
            />
            <h2 class="my-3" style="margin: 30px 0px;"> ¡Hola {{name}}!, </h2>
            <p style="padding: 0px; margin: 0px;"> Haz sido invitado a una nueva partida de PASANAKU.</p>
            <p style="padding-top: 6px;margin: 0px;">Si no tienes la app, escanea el codigo QR,</p>
            <p style="padding-top: 6px;margin: 0px;">ó, ingresa al siguiente LINK.</p>
            <a
                class="btn mt-3"
                href="{{url}}"
                style="margin-top: 30px; border: none; padding: 15px 25px; border-radius: 5px; color: white; display: inline-block; background-color: #2d9cdb; text-decoration: none; cursor: pointer;"
            >LINK del QR</a>
        </div>
    </div>
</div>